body, html{
    margin-top: 2%;
    background-color: #F1F1F2;
    height: 100%;
}

.status-output{
    background-color: white;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid black;
    overflow-x: auto;
}

th, td {
    text-align: left;
    padding: 8px;
}