{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/status.css' %}">
    <title>Status</title>
</head>
<body>
    <div class="page">
        <div class="header">
            <h1><b>Halo, apa kabar?</b></h1>
        </div>
        <div class="status_from">
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <input id="status-tombol" type="submit" value="Add Status" name="tombol">
            </form>
        </div>
        <div class="status_output">
            <table class="table_output">
                <thead>
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for status in status %}
                    <tr>
                        <td>{{status.status}}</td>
                        <th>{{status.date_created}}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>